<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862081334940-q4j6fp0h82msr3sj3tpv4e179nna8e7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862081334940-q4j6fp0h82msr3sj3tpv4e179nna8e7j</string>
	<key>API_KEY</key>
	<string>AIzaSyBLtKKF-tkYsiuS2pG94T8WWpjOfef4OxM</string>
	<key>GCM_SENDER_ID</key>
	<string>862081334940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter2</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo-a1399</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo-a1399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862081334940:ios:fe8c26e19f2ff2c8f0b759</string>
</dict>
</plist>